.front .aaronpero-quote-image {
  position: relative;
  z-index: 2;
  margin-top: -300px;
}

.layout-container.hide-title #block-particle-page-title {
  display: none;
}

.user-login-form {
  width: 541px;
  margin: 0 auto;
  margin-bottom: 100px;
}
