.front .aaronpero-quote-image {
  position: relative;
  z-index: 2;
  margin-top: -300px;
}

.layout-container.hide-title #block-particle-page-title {
  display: none;
}

.user-login-form {
  width: 541px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.social-media-links {
  display: flex;
  margin-top: 15px;
  margin-left: -10px;
  margin-right: -10px;
}

.social-media-links div {
  margin: 0 10px;
}
