:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #001f49;
  --secondary: #e9ebed;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --light-silver: #f7f6f6;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.front .aaronpero-quote-image {
  position: relative;
  z-index: 1;
  margin-top: 0;
}

@media screen and (min-width: 992px) {
  .front .aaronpero-quote-image {
    margin-top: -300px;
  }
}

.layout-container.hide-title #block-particle-page-title {
  display: none;
}

.user-login-form {
  width: 541px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.social-media-links {
  display: flex;
  margin-top: 15px;
  margin-left: -10px;
  margin-right: -10px;
}

.social-media-links div {
  margin: 0 10px;
}
