{#
/**
 * @file
 * garage-icon-svg
 *
 * Available variables for garage-icon-svg:
 *  - garage_icon_svg.variable_name [variable_type]: Description of the variable. Example below.
 *  - garage_icon_svg.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div class="garage-icon-svg">
  <h1>garage-icon-svg</h1>
  <div>Do good work!</div>
  <div>Example scoped variable: <code>{{ garage_icon_svg.example_var }}</code></div>
</div>
