{#
/**
 * @file
 * aaronpero-jumbotron
 *
 * Available variables for aaronpero-jumbotron:
 *  - aaronpero_jumbotron.variable_name [variable_type]: Description of the variable. Example below.
 *  - aaronpero_jumbotron.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div class="aaronpero-jumbotron relative">
  <div class="aaronpero-jumbotron__inner flex w-full overflow-hidden">
    test
  </div>
</div>
