.aaronpero-listing-card {
  height: 577px;
  width: 388.667px;
  max-width: 388.667px;
  border-radius: .5rem;
  overflow: hidden;
}

.card-image {
  height: 342px;
}

.card-date {
  left: 30px;
  bottom: 20px;
  font-size: 26px;
  line-height: 28px;
}

.card-title {
  font-size: 26px;
  letter-spacing: .5px;
  font-weight: 900;
  margin-bottom: 33px;
  color: #001f49;
  padding: 20px 30px 0;
}

.card-location {
  margin-bottom: 40px;
  padding: 0 30px;
}

.card-details {
  padding: 0 30px;
}

.card-image {
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
}
