{#
/**
 * @file
 * aaronpero-banner
 *
 * Available variables for aaronpero-banner:
 *  - aaronpero_banner.variable_name [variable_type]: Description of the variable. Example below.
 *  - aaronpero_banner.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

{% set pretitle = 'Selling Your Property' %}
{% set title = 'Free Market Analysis' %}
{% set button_text = 'Request' %}
{% set banner_bg = '../../../assets/images/cta-bg.jpg' %}

<div class="aaronpero-banner" style="background-image: url('{{ banner_bg }}')">
  <div class="aaronpero-banner__inner relative">
    <div class="banner-content absolute">
      <div>
        {{ pretitle }}
      </div>
      <div>
        {{ title }}
      </div>
      <div>
        {% if contents %}
          {{ contents|raw }}
        {% else %}
          <p>
            Request a free no-obligation market analysis of your property<br />
            or request an appointment to discuss selling your home.
          </p>
        {% endif %}
      </div>
      <div>
        {% include '@atoms/aaronpero-button/_aaronpero-button.twig' with {
          button_classes: 'btn btn-outline-primary btn--width btn-primary--extra-styles btn--margin-bg mr-5',
          button_text: button_text,
        } %}
      </div>
    </div>
  </div>
</div>
