{#
/**
 * @file
 * aaronpero-quote-image
 *
 * Available variables for aaronpero-quote-image:
 *  - aaronpero_quote_image.variable_name [variable_type]: Description of the variable. Example below.
 *  - aaronpero_quote_image.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div class="aaronpero-quote-image">
  <h1>aaronpero-quote-image</h1>
  <div>Do good work!</div>
  <div>Example scoped variable: <code>{{ aaronpero_quote_image.example_var }}</code></div>
</div>
