{#
/**
 * @file
 * aaronpero-quote-image
 *
 * Available variables for aaronpero-quote-image:
 *  - aaronpero_quote_image.variable_name [variable_type]: Description of the variable. Example below.
 *  - aaronpero_quote_image.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

{% set image_src = '../../../assets/images/portrait-home.png' %}

{% if image %}
  {% set image_src = image %}
{% endif %}

<div class="aaronpero-quote-image w-full mb-24 overflow-hidden">
  <div class="inner flex flex-wrap lg:flex-nowrap relative container mx-auto">
    <div class="highlight-text w-full lg:w-1/2 self-end mb-10 mt-24 lg:mt-0 order-2 lg:order-1">
      {% if quote_text %}
        <h4 class="quote-text text-ultramarineblue">
          {{ quote_text }}
        </h4>
      {% else %}
        <h4 class="quote-text text-ultramarineblue">
          Marketing is telling a story<br />
          about your home that resonate<br />
          enough with buyers that they<br />
          purchase your property
        </h4>
      {% endif %}
    </div>
    <div class="highlight-img w-full lg:w-1/2 order-1 lg:order-2">
      <img src="{{ image_src }}" alt="" class="mx-auto px-5 lg:px-0">
    </div>
  </div>
</div>
