.aaronpero-testimonial-teaser {
  width: 388.666px;
  min-height: 359px;
  max-width: 388.666px;
}

.testimonial__avatar {
  display: block;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.testimonial__avatar img {
  width: 60px;
  height: 60px;
}

.aaronpero-testimonial-teaser .contents {
  font-size: 18px;
  line-height: 1.33333;
}
